<div id="playBackground" ng-init="gameStart()">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="well" id="playerListContainer">
					<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" 
				 data-target="modal.html/myModal">Open Modal</button> -->
					<table class="table table-striped table-inverse" id="playerTable">
						<tr>
							<th>All Players</th>
						</tr>
						<tr>
							<th>Name</th>
							<th>Prediction</th>
							<th>Status</th>
							<th>Voting</th>
						</tr>
						<form ng-app name="inputform">
							<tr for="{{player}}" ng-repeat="player in allPlayers">
								<td>{{player.username}}</td>
								<td><select
									ng-options="choice for choice in rolePredictions"
									ng-model="selected"
									class="form-control btn btn-primary dropdown-toggle"
									id="predictionDropdown">
								</select></td>
								<!-- changing status colors -->
								<td
									ng-class="{activeStatus : player.status.status == 'Active', firedStatus: player.status.status == 'Fired'}">
									{{player.status.status}}</td>
								<td ng-show="voteButton"><input type="radio"
									ng-model="inputform.radioinput" ng-value="player.username"></td>
									
							</tr>
							<div ng-bind-template="Radio Input: {{inputform.radioinput}}" />
						</form>


						<p>Selected: {{$rootScope.user.targetUser}}</p>
					</table>
				</div>

			</div>
			<div class="col-sm-5">
				<div class="well col-sm-4 col-sm-offset-3" id="titleContainer">
					<h4>Who Did It??</h4>
				</div>
				<div class="well col-sm-4 col-sm-offset-1" id="phaseContainer">
					<h4
						ng-class="{dayPhase : phase == 'day', nightPhase: phase == 'night'}">
						Currently in: {{phase}} phase</h4>
				</div>
				<div class="well col-sm-4 col-sm-offset-3" id="actionContainer">
					<h4>Action:</h4>
					<h4>{{action}}</h4>
				</div>
				<div class="well col-sm-12" id="chatContainer">
					<iframe id="chat" width="100%" height="300px" scrolling="no"></iframe>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="well col-sm-11 col-sm-offset-1" id="nameContainer">
					<h4>Username: {{user.username}}</h4>
					<h4>My role: {{user.role}}</h4>
					<h4>My status: {{user.status}}</h4>
				</div>
				<div class="well col-sm-10" id="rolesContainer">
					<h4 style="text-align: center;">Roles</h4>
					<div class="tab">
						<button class="tablinks" onclick="openRole(event, 'Hacker')">Hacker</button>
						<button class="tablinks" onclick="openRole(event, 'Trainer')">Trainer</button>
						<button class="tablinks" onclick="openRole(event, 'HR')">HR</button>
						<button class="tablinks" onclick="openRole(event, 'Employee')">Employee</button>
					</div>

					<div id="Hacker" class="tabcontent">
						<h3>Hacker</h3>
						<p>Hackers want to take over the town.</p>
						<p>At night Hackers will choose someone to fire. That person
							has to leave Revature town first thing in the morning.</p>
						<p>Hackers win the game if there's less people in Revature
							Town then there are Hackers. Every game starts with at least 1
							Hacker.</p>
					</div>

					<div id="Trainer" class="tabcontent">
						<h3>Trainer</h3>
						<p>The Trainer is the good guy.</p>
						<p>At night the Trainer will investigate one of the employees
							and make sure that person is not a Hacker.</p>
						<p>If that person is indeed a Hacker, the Trainer will fire
							that person.</p>
					</div>

					<div id="HR" class="tabcontent">
						<h3>HR</h3>
						<p>HR has an important role.</p>
						<p>At night, HR can vouch for somebody that would have been
							fired, and keep that person in Revature Town.</p>
						<p>However, HR can step in for ANYONE that would have been
							fired - regardless of that person's role (Employee, Trainer, or
							even a Hacker).</p>
						<p>If HR wants, they can decide to vouch for themselves at
							night instead of a random person.</p>
					</div>
					<div id="Employee" class="tabcontent">
						<h3>Employee</h3>
						<p>Employees make up the majority of Revature Town.</p>
						<p>Employees come to work everyday, enjoy a cup of coffee, and
							go home after hours of programming.</p>
						<p>At night, employees simply go to sleep, since they have to
							wake up early next morning.</p>
						<p>During the day however, employees can come together to
							investigate and figure out who the Hacker possibly could be.</p>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>


