html,

body {
   margin:0;
   padding: 0;
   height: 100%;
}

.fullWrapper {
	min-height: 100%;
	position: relative;
}

#header {
	margin: 1% 10%;
}

#container {
	margin: 1% 10%;
   /* padding:15px; */
   padding-bottom:60px;   /* Height of the footer */

}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;   /* Height of the footer */
	
}


#homeContainer {
	padding: 100px;
	text-align:center;
	
}

.jumbotron {
	background-color: #3399ff;  /* blue background */ 
	margin: 7% 20%;
	padding: 30px;
	/* margin: auto; */  /* center the div */
    text-align: center;
    /* border: 1px solid red; */
}

#lobbyJumbotron {
	margin: 5% 15%;
}


.well ol li{
	clear: both;
}

#readyButton {
	float: right;
	/* clear: both; */
}
.modal {
	/* width: 600px;
	padding: 0px;
	height: 250px;
	margin-top: 40%;
	display: block;
	 */
}

/***********************   play.html styling  ************************************************************/

#playBackground {
	background-image: url('../img/revature_background.jpg');
	background-size: auto 100%;
	height: 780px;
	/* width: 120%; */
	margin: -1% -10%;
}

#nameContainer, #playerListContainer, #titleContainer, #phaseContainer, #actionContainer, #rolesContainer, #chatContainer, #votingContainer 
{
	opacity: 0.8;
}

#titleContainer {
	position: relative;
	display: block;
	height: 40px;
	width: auto;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 10px; /* putting space from top */
	magin-bottom:10px;
	text-align: center;
	padding: 0px; /* overrules boostrap rules*/
}

#timerContainer {
	margin: 10px;
	width: 300px;
	/* width: auto; */
	margin-right: 15%;
	margin-left: 15%;
	font-weight: bold;
	text-align: center;
}

.input-group {
	width: 100px;
	margin: 0 auto;
}

#phaseContainer {
	/* position: relative; */
	clear: both;
	/* background-color: yellow; */
	padding: 0px; /* overrules boostrap rules*/
	text-align: center;
	/* width: auto; */
	/* margin-right: 25%;
	margin-left: 25%; */
	margin-top: 5%;
}

#actionContainer {
	/* background-color: yellow; */
	padding: 0px; /* overrules boostrap rules*/
	text-align: center;
	clear: both;
	width: auto;
	margin-top: 5%;
	
}

#choiceDisplay {
	margin: 5px;
	width: 95%;
	margin-top: 5px;
}

#playerListContainer {
	position: relative;
	/* background-color: blue; */
	padding: 0px; /* overrules boostrap rules*/
	margin-top: 5%;
	margin-bottom: 10%;
	width: 95%;
}

#playerTable {
	overflow-y: scroll;
	height: 600px;
	display: block;
	/* margin-top: 50%; */
	/*margin-bottom: 50%; */
	text-align: center;
	/* width: 80%; */
	
} 

#predictionDropdown {
	height: 20px;
	padding: 2px;
}


#chatContainer {
	/* position: fixed; */
	padding: 0px; /* overrules boostrap rules*/
	margin-top: 10%;
	margin-bottom: 5%; 
	height: 300px;
	width: 100%;
	bottom: 0;
}

#nameContainer {
	margin-top: 30px;
	padding: 5px; /* overrules boostrap rules*/
	width: 90%;
}

#rolesContainer {
	margin-top: 50px;
	padding: 5px; /* overrules boostrap rules*/
	height: auto;
	width: 100%;
}

/***** tab styling ***********************************************************************/
/* Style the tab */
div.tab {
	padding: 1px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #3399ff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 2px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/***********************************************************************************/

.activeStatus {  /* changing status colors */
	font-style: italic;
	font-weight: bold;
	color: green; 
}

.firedStatus {
	font-style: italic;
	font-weight: bold;
	color: red;;
}

.dayPhase {  /* changing status colors */
	font-weight: bold;
	background-color: #EFEC5B; 
}

.nightPhase {  /* changing status colors */
	font-weight: bold;
	background-color: #AC9B98; 
	/* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ); */
}

/***********************************************************************************/
/* Center the loader */
#loader {
  position: relative; /* this was default absolute */
  /* left: 50%;
  top: 50%; */
  z-index: 1;
  /* width: 150px;
  height: 150px; */
  margin: auto;
  /* margin: -75px 0 0 -75px; */ /*this was the default */
  border: 16px solid #D8D3D2;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader2 {
  position: absolute; /* this was default absolute */
  left: 45%;
  top: 40%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: auto;
  /* margin: -75px 0 0 -75px; */ /*this was the default */
  border: 16px solid #D8D3D2;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/***********************************************************************************/